<!DOCTYPE html>
<html>
  <head>
    <title>Programming!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./resources/style.css">
    <!-- Libraries {-->
    <!-- TODO: use bower-->
    <!-- Ace-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
    <!-- jQuery-->
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Bootstrap Select-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
    <!-- Vue-->
    <script src="https://unpkg.com/vue"></script>
    <!-- }-->
  </head>
  <body>
    <!-- Main wrap {-->
    <div id="main-wrap">
      <!-- Toolbar {-->
      <div id="toolbar" role="toolbar">
        <!-- Editor buttons--><span id="editor-toolbar">
          <!-- Language select {-->
          <label for="language-select">Language</label>
          <select class="selectpicker show-tick show-menu-arrow" id="language-select" name="select" aria-label="Select language" @change="updateLanguage" v-model="currentLanguage">
            <option v-for="lang in supportedLanguages" :value="lang.value">{{ lang.name }}</option>
          </select>
          <!-- }-->
          <!-- Program catalog-->
          <!-- TODO use a v-for, dynamically bind, depend on language--><span class="dropdown">
            <button class="btn btn-default dropdown-toggle" id="program-catalog" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Program catalog <span class="caret"></span></button>
            <ul class="dropdown-menu" aria-labelledby="program-catalog">
              <template v-for="group in programCatalog">
                <li class="dropdown-header">{{ group.category }}</li>
                <template v-for="command in group.commands">
                  <li><a href="#" @click="insertCode(command.expand)">{{ command.name }}</a></li>
                </template>
                <li class="divider" role="separator"></li>
              </template>
            </ul></span>
          <!-- Run code-->
          <!-- TODO fix onclick for everything!-->
          <!-- Save-->
          <button class="btn btn-default" onclick="saveToLocalStorage()" aria-label="Save"><span class="glyphicon glyphicon-save"></span>&nbsp; Save</button>
          <button class="btn btn-primary" onclick="evalAll()" aria-label="Run code"><span class="glyphicon glyphicon-play"></span>&nbsp; Run code</button>
          <button class="btn btn-danger" onclick="iframe.contentWindow.t[&quot;stop!&quot;]()" title=""><span class="glyphicon glyphicon-stop"></span>&nbsp; Stop executing</button></span>
        <!-- Output buttons--><span class="pull-right" id="output-toolbar">
          <!-- Ugh. Don't access t directly! Bind to a model or something!-->
          <button class="btn btn-default" onclick="iframe.contentWindow.t[&quot;reset!&quot;]()" title="Shortcut: r">Reset</button>
          <button class="btn btn-default" onclick="iframe.contentWindow.t[&quot;clear!&quot;]()" title="Shortcut: c">Clear</button>
          <button class="btn btn-default" onclick="iframe.contentWindow.t[&quot;pendown!&quot;]()" title="Shortcut: ,">Pen down</button>
          <button class="btn btn-default" onclick="iframe.contentWindow.t[&quot;penup!&quot;]()" title="Shortcut: .">Pen up</button>
          <button class="btn btn-default" onclick="iframe.contentWindow.t[&quot;show!&quot;]()" title="Shortcut: \">Show</button>
          <button class="btn btn-default" onclick="iframe.contentWindow.t[&quot;hide!&quot;]()" title="Shortcut: \">Hide</button>
          <!-- TODO: bind to state: pen up/down and show/hide--></span>
      </div>
      <!-- } End toolbar-->
      <!-- Code {-->
      <div class="col-md-6 col-lg-6" id="code">
        <div id="editor" aria-label="Editor">
          <!-- Code goes here-->
        </div>
      </div>
      <!-- } End code-->
      <!-- Output {-->
      <div class="col-md-6 col-lg-6" id="output">
        <iframe id="output-iframe" aria-label="Output">
          <!-- Sandbox will be inserted here-->
        </iframe>
      </div>
      <!-- } End output-->
    </div>
    <!-- } End main wrap-->
    <script src="src/main.js"></script>
    <script src="src/load-iframe.js"></script>
  </body>
</html>