body, #main-wrap {
	padding: 0; 
	margin: 0;
	width: 100%;
	height: 100%;
}

#output, #code {
	display: block;
	position: relative;
	padding: 0; 
	margin: 0;
	top: 0;
	max-width: 50%;
	max-height: 100%;
}

#code {
	left: 0;
}

#output {
	left: 50%;
}

/* Ace Editor */
/* Beware: don't change this or it'll never work again */
#editor {
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	/* this seems a bit hackish */
	min-width: 500px;
	min-height: 800px;
	/* doesn't work */
	max-height: 100%;
	max-width: 100%;
}
